body{
    margin: 0;
    background: linear-gradient(to right,#1f3756,#141539);
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    width: 50em;
    padding: 20px;
    margin-top: 30px;
}

.header .points{
    width: 120px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-radius: 10px; 
}

.header .points h1{
    margin: 0;
    text-align: center;
    color: hsl(229, 25%, 31%);
    font-size: 3rem;
}

.header .points p{
    margin: 0;
    text-align: center;
    color: hsl(229, 64%, 46%);
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.wrapper .line{
    width: 30px;
    height: 10em;
    background-color: hsl(237, 49%, 15%);
    position: absolute;
    z-index: 0;
}

.wrapper #line1{
    transform: rotate(50deg) translate(20em,-120px);
}

.wrapper #line2{
    height: 25em;
    transform: rotate(90deg) translate(20em,-28em);
}

.wrapper #line3{
    height: 10em;
    transform: rotate(125deg) translate(-10em,-35em);
}

.wrapper .circle1{
    width: 8rem;
    height: 8rem;
    background: hsl(237, 49%, 15%);
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 40px solid hsl(39, 89%, 49%);
    cursor: pointer;
    z-index: 1;
    position: relative;
}

.wrapper .circle1 .circle_white{
    width: 8rem;
    height: 8rem;
    background: white;
    border-radius: 1000px;
    box-shadow: inset 0 10px 0 0 rgba(0, 0, 0, 0.171);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.wrapper .circle1 .circle_white img {
    width: 80px;
    height: auto;
    object-fit: cover;
}

#circle1{
    transform: translate(61px,280px);
}

#circle1::after{
   content: '';
  flex: 1 1 auto; /* the first digint is 'flex-grow: 1', helps elemet to occupy all free space */ 
  border-bottom: solid 1px #fff;

}

#circle1 .circle1 {
    border-color:  hsl(230, 89%, 62%);
}

#circle2 .circle1 {
    border-color:  hsl(349, 71%, 52%);
}

#circle2{
    transform: translate(0px,40px);
}

#circle3{
    transform: translate(-80px,280px);
}

.single_circle{
    width: 15em!important;
    height: 15em!important;
    border: 30px solid hsl(39, 89%, 49%)!important;
}

.single_white_circle{
     width: 15rem!important;
    height: 15rem!important;
}


h3{
    margin: 50px 0;
    color: white;
    text-align: center;
}

.contaienr{
    
}